<mat-card>
  <h2>Bienvenidos a I-ADMIN</h2>
  <ul>
    <li>
      <p>
        Aplicación Web creada con Angular y Angular Material para la gestión de
        administrador del proyecto I-Train.
      </p>
    </li>
  </ul>
</mat-card>

<mat-card style="margin-top: 20px">
  <h2>Uso</h2>
  <ul>
    <li>
      <p>
        Para navegar por la web tan solo tenemos que irnos al sidebar e ir
        navegando por las diferentes páginas.
      </p>
    </li>
    <li>
      <p>
        Podemos visualizar todos los registros de la base de datos, ver su id,
        email, role...
      </p>
    </li>
    <li>
      <p>
        Editar los registros existentes: Si pulsamos sobre el botón de editar,
        se nos mostrará un formulario con todos los campos del registro.
      </p>
    </li>
    <li>
      <p>
        Crear nuevos registros: Pulsamos sobre nuevo registro (usuario, item,
        lista...), se nos mostrará el formulario a rellenar para crear el nuevo
        registro.
      </p>
    </li>
    <li>
      <p>
        Eliminar registros existentes: Si pulsamos sobre el botón borrar, se nos
        mostrará un diálogo de confirmación el cual debemos aceptar para borrar
        o podemos cancelarlo.
      </p>
    </li>
  </ul>
</mat-card>

<mat-card style="margin-top: 20px">
  <h2>Desarrollado por:</h2>
  <p>Víctor Gallardo Luque</p>
  <p>Alumno del I.E.S Campanillas</p>
  <p>Proyecto Fin de Ciclo CFGS</p>
  <p>Desarrollo de Aplicaciones Multiplataforma.</p>
</mat-card>
