ul li {
  list-style: none;
}

span {
  margin-left: 20px;
}

mat-toolbar {
  background-color: #28282b;
  color: #eedaba;
}

img {
  width: 200px;
  height: auto;
  margin-left: 20px;
}

.navbar-logo {
  font-family: "ethno";
  cursor: pointer;
  text-decoration: none;
  color: #eedaba;
  font-size: 2rem;
  margin-left: 30px;
}

.by {
  text-decoration: none;
  color: #eedaba;
  font-size: 1rem;
  margin-left: 10px;
  margin-top: 10px;
}
